html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

h1,
a {
  color: rgb(49, 116, 216);
}

hr {
  border: none;
  border-bottom: 1px solid whitesmoke;
  margin: 20px 0px 20px 0px;
}

.container {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 200px;
}

.query-area {
  text-align: center;
}

.input {
  width: 600px;
  height: 120px;
}
#submit {
  height: 120px;
  vertical-align: top;
  margin-left: 10px;
}

.summary {
  word-wrap: break-word;
  font-family: monospace;
}
