<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheet.css" />
    <title>Meklet Search</title>
</head>

<body>
    <div class="container">
        <div class="query-area">
            <form action="javascript:handleSearch" class="search-form"></form>
            <h1 class="logo">DNA Finder</h1>
            <textarea class="input" id="query"></textarea>
            <input type="submit" id="submit" value="Search">
        </div>
        <hr />
        <div class="search-results-container"></div>
    </div>
    <script src="main.js"></script>
</body>

</html>